extends layout.pug

block css
	link(rel='stylesheet' href='/asset/css/login.css')
prepend css
	if (ua.indexOf('Chrome') === 0 || ua.indexOf('Safari') === 0)
		link(rel='preload' href='/asset/css/login.css' as='style')

prepend js
	script(async src='/asset/js/validation.min.js')
	script(async src='/asset/js/login.min.js')

block content
	form(action='/login' method='post' class='form')
		
		input(name='email' class='btn' type='text' value=email placeholder=phEmail autofocus)
		if (error !== null && error.email !== undefined)
			p.form-error=error.email

		input(name='password' class='btn' type='password' placeholder=phPassword)
		if (error !== null && error.password !== undefined)
			p.form-error=error.password

		input(class='btn' type='submit' value=submitText)
		.redirect
			a(href='/reset')=forgotText
			a(href='/register')=registerText