extends layout.pug

block css
	link(rel='stylesheet' href='/asset/css/login.css')

prepend js
	script(async src='/asset/js/login.min.js')

block content
	form(action='/register' method='post' class='form')
			
		input(name='email' class='btn' type='text' value=email placeholder=phEmail autofocus)
		if (error !== null && error.email !== undefined)
			p.form-error=error.email

		input(name='nickname' class='btn' type='text' value=username placeholder=phUsername)
		if (error !== null && error.username !== undefined)
			p.form-error=error.username

		input(name='password' class='btn' type='password' placeholder=phPassword)
		if (error !== null && error.password !== undefined)
			p.form-error=error.password
			
		input(class='btn' type='submit' value=submitText)
		a(href='/login')=loginText