extends ../template/layout

block css
	link(rel='stylesheet' href='/asset/css/login.css')
prepend css
	if (ua.indexOf('Chrome') === 0 || ua.indexOf('Safari') === 0)
		link(rel='preload' href='/asset/css/login.css' as='style')

prepend js
	script(async src='/asset/js/validation.min.js')
	script(async src='/asset/js/reset.min.js')

block content
	form(action='' method='post' class='form')

		if (resetToken === null)
			p.p!= guideline

			input(name='email' class='btn' type=type value=email placeholder=phEmail autofocus)
			if (error && error.email)
				p.form-error=error.email
		else
			if (error && error.token)
				p.form-error!=error.token
			input(name='_method' type='hidden' value='PUT')
			input(name='authToken' type='hidden' value=authToken)
			input(name='resetToken' type='hidden' value=resetToken)
			input(name='newPassword' class='btn' type='password' placeholder=phPassword autofocus)
			if (error && error.password)
				p.form-error=error.password
			input(name='passwordConfirmation' class='btn' type='password' placeholder=phPasswordConfirm)
			if (error && error.password)
				p.form-error=error.password

		input(class='btn' type='submit' value=submitText)